# We are primarily on Windows, so we want to have CRLF in the REPO

# Auto detect text files and perform CRLF normalization
*   text=auto eol=crlf 

# Custom for Visual Studio
*.cs     diff=csharp

# Jupyter notebooks: all line feeds, don't count towards language composition
*.ipynb   text=auto eol=lf linguist-generated

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
